.logo {
  font-size: 50px;
  position: absolute;
}
.headerIcons {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  position: relative;
  left: 69.5rem;
}
.headerIcons a {
  border: 2px solid transparent;
  background: transparent;
  height: 3rem;
  display: inline;
  border-radius: 1.3rem;
  font-size: 25px;
  position: relative;
  top: 0.4rem;
  padding: 0.3rem;
  color: var(--background-color);
}
.headerIcons a:hover {
  background: var(--colorHover);
}
.head {
  position: fixed;
  z-index: 1;
  /* background: red; */
  margin: 0;
  width: 100%;
  top: 0;
}

.headerStatus {
  position: fixed;
  height: 120px;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 1;
  position: fixed;
  background: var(--principal-color);
  display: flex;
  justify-content: space-between;
}
header {
  z-index: 1;
}

@media (max-width: 600px) {
  .logo {
    position: absolute;
    top: 1rem;
    padding: 0;
  }
  .headerIcons {
    position: relative;
    left: 15.5rem;
    top: 0.8rem;
    display: inline-block;
  }
  .headerStatus {
    position: fixed;
  }
}
