nav {
  background: var(--principal-color-transparent);
  margin-top: 1rem;
  width: 50%;
  position: fixed;
  left: 24%;
  top: 29rem;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  padding: 0.3rem;
  height: 90px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
nav a {
  font-size: 20px;
  display: flex;
  color: var(--text-inactif);
  flex-direction: column;
  align-items: center;
}

.active {
  color: var(--color-white);
  transition: var(--transition);
  font-size: 23px;
}

@media (max-width: 600px) {
  nav {
    width: fit-content;
    padding: 0;
    position: fixed;
    left: 0rem;
    border-radius: 0;
    top: 46.6rem;
    height: fit-content;
    padding: 0;
  }
  nav a {
    font-size: 22px;
    /* display: flex; */
    /* color: var(--text-inactif); */
    /* flex-direction: column; */
    /* align-items: center; */
  }

  .active {
    font-size: 24px;
  }
}
