* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 1.7;
  list-style: none;
}

button {
  border: 2px solid transparent;
  padding: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 4px 3px black;
}
button:active {
  box-shadow: none;
  transform: translateY(5px);
}

html::-webkit-scrollbar {
  display: none;
}
:root {
  --principal-color: #075e54;
  --principal-color-transparent: rgba(7, 94, 84, 0.8);
  --colorHover: #0e8577b6;
  --secondary-color: #25d366;
  --background-color: #f0f0f0;
  --color-white: #ffffff;
  --text-color: #161515;
  --text-color-gray: #5f5e5e;
  --text-inactif: #2c2c2cd7;
  --color-btn: rgb(28 135 212);

  --transition: 300ms ease;
}
.container {
  width: auto;
  /* padding: 0rem; */
}
.box {
  margin-left: 20%;
  margin-right: 20%;
}
body {
  background: var(--background-color);
  transition: 500ms ease-out;
}
a {
  color: var(--background-color);
  font-size: x-large;
  margin: 0.4rem;
}

/* @media (max-width: 600px) {
  nav {
    position: fixed;
  }
  .haederStatus {
    position: fixed;
  }
} */
